.DS_Store
__pycache__/
*.py[cod]
*.so

.venv/
.pipenv-bootstrap/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.crossping-config/
*.log

build/
dist/
release/
*.spec.bak

src/*.egg-info/
*.egg-info/

.coverage
.coverage.*
htmlcov/
