[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crossping = {editable = true, path = "."}

[dev-packages]
pytest = ">=8.2,<9"
PyInstaller = ">=6.10,<7"

[requires]
python_version = "3.9"
